@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
/* body default özellik ata */
body::before{
  display: block;
  content:'';
  height: 76px;
}
.w-100-height{
  height: 87vh;
  width: 100%;
}
.carousel-item::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}
.services p::first-letter{
  font-size: 25px;
  font-weight:400;
}
